/*Organização do arquivo style.css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    scroll-behavior: smooth;
    height: 400vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.863)), url("https://data.1freewallpapers.com/download/code-programming-text-technology.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}